@import url('https://fonts.googleapis.com/css2? family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

:root{
    --color:#eb15ff;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(nighty.png);
    background-size: cover;
    background-position: center;
}

form h2{
    color: #fff;
    font-weight: 700;
    text-align: center;
    text-transform:uppercase ;
    font-size: 2em;
    margin-bottom: 50px;
}

.inputBox{
    position: relative;
    width: 300px;
    margin-bottom: 30px;
}


.inputBox input{
    position: relative;
    width: 100%;
    padding: 10px 0;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing :0.15em; ;
}

.inputBox label{
    position: absolute;
    left: 0;
    padding: 10px 0;
    pointer-events: none;
    color: #fff;
    text-transform: uppercase;
}
.inputBox label span{
    position: relative;
    display: inline-flex;
    letter-spacing: 0.05em;
    transition: 0.2s ease-in-out;
}

.inputBox input:focus ~ label span,
.inputBox input:valid ~  label span{
    color: rgb(255,255,255);
    letter-spacing: 0.15em;
    transform: translateY((-25px));
}

.inputBox input:focus,
.inputBox input:valid{
    border-bottom: 2px solid var(--color);
}

.inputBox input[type="submit"]{
    background: var(--color);
    border: none;
    padding: 11px;
    border-radius: 50px;
    color: #fff;
    font-weight: 700;
    font-size: 1.15em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    cursor: pointer;
    transition: 0.5s;
          
}

.inputBox input[type="submit"]:hover{
    letter-spacing: 0.40em;
}

form p{
    color: #fff;
    text-transform: uppercase;
    text-align:center ;
    font-size: 14px;
    margin-top: 30px;
}

form p a{
    color: var(--color);
    font-weight: 500;
    text-decoration: none;

}

.Remember{
    display: flex;
    text-align: center;
    justify-content: center;
    color: #fff;
    font-size: small;
    margin-top: 30px;
}

.Remember .checkbox{
    display: flex;
    text-align: center;
    gap: 5px;
}